body {
    margin:0;
    background-color: #cccccc;
}
table {
    border-spacing: 8px;
    padding: 5px;
}
td {
    padding: 8px 0px 12px;
    max-width:100%;
    text-align: center;
}

img {
    border:0;
    
}
.wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #cccccc;
    padding-bottom: 40px;
    text-align: center;
}
.main {
    background-color: #ffffff;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    font-family: sans-serif;
    color: #4a4a4a;   
}
.button {
    color: #ffffff;
    border: 3px solid white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 25px;
    font-weight: bold;
}
.purple {
    background-color:#686de0;
}
.orange {
    background-color:#e67e22;
}
.green {
    background-color: #00704A;
}
.two-columns {
    text-align: center;
    font-size: 0;
    padding: 40px 0;

}
.two-columns .column {
    width: 100%;
    max-width: 300 px;
    display: inline-block;
    vertical-align: top;
}
.two-columns .padding {
    padding: 20px;
}
.two-columns .content {
    text-align: left;
    font-size: 15px;
    line-height: 25px;
}
a {
   text-decoration: none;
   color:white; 
}

@media screen and (max-width: 600px) {
    .two-columns .content img {
        width: 300px!important;
        max-width:300px!important;
    }
    .padding {
        padding-right: 0!important;
        padding-left: 0!important;
    }
}